<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataStore" value="C:\QuickStarts\CitrixTechFair2017\Relevance\Data\"/>
    <add key="ConfigStore" value="C:\QuickStarts\CitrixTechFair2017\Relevance\Configuration\"/>
    <add key="EnglishStopWordList" value="stop-word-list.txt"/>
    <!--Tolerance increases from 1 to 5-->
    <add key="RankTolerance" value="3"/>
    <add key="SentenceTolerance" value="0.04"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
